.App * {
  box-sizing: border-box;
  border: 1px solid gray;
}
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.userList {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user {
  width: 20%;
  min-width: 200px;
  margin: 2%;
}

.user img {
  width: 50%;
  height: auto
}

.userCard {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 500px;
  background: steelblue;
  border-radius: 5px;
  box-shadow: -3px 3px 6px  black;
}

.imgContainer{
  
  margin: auto;
  width: 100%;
  padding: 10%;
}

.imgContainer img {
  width: 100%;
  height: auto;

}
